<mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" class="nav-button">
      <a class="links" routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </button>
    <button mat-raised-button color="accent" class="nav-button">
        <a class="links" routerLink="/post-office" routerLinkActive="active">Post Office</a>
      </button>
    <button mat-raised-button color="accent" class="nav-button">
      <a class="links" routerLink="/shipment" routerLinkActive="active">Shipment</a>
    </button>
    <button mat-raised-button color="accent" class="nav-button">
      <a class="links" routerLink="/package" routerLinkActive="active">Package</a>
    </button>
  </mat-toolbar>